.ct-chart-donut .ct-series-a .ct-slice-donut {
    stroke: red;
}
/*make b hidden*/
.ct-chart-donut .ct-series-b .ct-slice-donut {
    stroke: transparent;
    opacity: 0.0;
}
/*make all fill-donut series visible and set color*/
.ct-chart-donut .ct-fill-donut .ct-slice-donut{
    stroke: transparent;
    opacity: 1;
}