* {
    margin: 0;
    padding: 0;
}

body {
    /* TODO: Make lazyload as here:
     * https://webformyself.com/texnika-predvaritelnogo-razmytiya-fonovogo-izobrazheniya-vo-vremya-zagruzki/
     */
    background: black url("../../img/space.jpg") no-repeat center;
    background-size: cover;
}

#welcome {
    min-height: 100vh;
    padding: 5vh 25vw;
    background: rgba(0,0,0, .9);
    z-index: 100;
}

#the-end {
    min-height: 100vh;
    padding: 5vh 30vw;
    background: #000;
    z-index: 100;
    display: none;
}

.display-7 {
    font-size: 1.4rem;
}

.display-8 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
}

.table-dark {
    background-color: transparent !important;
}

.btn-toolbar {
    justify-content: center !important;
}

#main-place {
    /*border: 1px dotted red;*/
    margin-top: 5vh;
    height: 90vh;
}

#points {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;
    z-index: 95;
    width: 100%;
}

#copyright {
    z-index: 95;
    bottom: 0;
}

#health {
    position: fixed !important;
    z-index: 95;
    bottom: 0;
    /*left: 0;*/
    right: 0;
    width: 40vh;
    height: 40vh;
}

#buh {
    position: relative;
    /*border: 1px dotted white;*/
    border-radius: 2em;
    display: inline-block;
    background: url("../../svg/Loaf.svg") no-repeat center;
    background-size: contain;
    width: 14.5em;
    height: 140px;
}

@media (max-height: 500px) {
    #buh {
        width: 10em;
        height: 76px;
    }
}

.bullet {
    display: inline-block;
    position: absolute;
    width: 1em;
    height: .5em;
    /*border: 1px solid black;*/
    background: url("../../svg/Bullet.svg") no-repeat center;
    background-size: contain;
}

.asteroid {
    display: inline-block;
    /*border: 1px solid darkgray;*/
    border-radius: 50%;
    position: absolute;
    background: url("../../svg/Asteroid.svg") no-repeat center;
    background-size: auto;
}

#successSavingNameBlock {
    display: none;
}

#errorSavingNameBlock {
    display: none;
}