<h1 class="text-white display-4 text-center">Game over</h1>
<h2 class="text-white-50 display-8 text-center">Игра окончена. Вы снесли слишком много астероидов!</h2>

<p class="text-white text-center display-2">
    Счет: <span id="points-value-the-end"></span>
</p>

<form class="form-inline justify-content-center" id="save-name">
    <fieldset id="save-name-fieldset">
        <input type="text" name="player-name" class="form-control mr-1" placeholder="Как Вас зовут?" required>
        <input type="submit" class="btn btn-outline-success ml-1" value="Сохранить">
    </fieldset>
</form>
<small id="successSavingNameBlock" class="form-text text-success text-center">Ваше имя сохранено</small>
<small id="errorSavingNameBlock" class="form-text text-danger text-center">Ошибка сохранения имени!</small>

<h4 class="text-white text-center mt-3">Турнирная таблица</h4>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-dark" data-period="today">За сегодня</button>
        <button type="button" class="btn btn-outline-dark active" data-period="month">За месяц</button>
        <button type="button" class="btn btn-outline-dark" data-period="year">За год</button>
        <button type="button" class="btn btn-outline-dark" data-period="all-time">За все время</button>
    </div>
</div>

<table class="table table-dark table-sm" id="leaderboard">
    <thead>
        <tr>
            <td><b>Время игры</b></td>
            <td><b>Имя игрока</b></td>
            <td><b>Набрано очков</b></td>
            <td><b>Сложность</b></td>
        </tr>
    </thead>
    <tbody id="leaderboard-tbody">
        <script type="text/template" id="leaderboard-template">
            {{#each leaderboard}}
                <tr>
                    <td>
                        {{created_at}}
                    </td>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{score}}
                    </td>
                    <td>
                        {{difficulty}}
                    </td>
                </tr>
            {{/each}}
        </script>
    </tbody>
</table>

<div class="text-center">
    <button
            id="new-game"
            class="btn btn-outline-success"
            onclick="location.reload(); //TODO: This is a huge crutch !!!"
    >Новая игра</button>
</div>