<h1 class="text-white display-4 text-center mt-1">Loaf vs Asteroids</h1>
<h2 class="text-white-50 display-8 text-center">Буханка против астероидов</h2>

<p class="text-white">
    Классическая игра жанра &laquo;космический шутер&raquo;.<br>
    Вы играете за автомобиль УАЗ 2206 &laquo;Буханка&raquo;, в который летят астероиды.<br>
    Ваша цель &mdash; выжить, для чего необходимо облетать астероиды и стрелять по ним.
</p>

<p class="text-white">
    <span class="text-warning">Обратите внимание,</span> что буханка способна стрелять
    один раз в 0.3 секунды.
</p>

<h4 class="text-white text-center mt-5">Управление</h4>
<table class="table table-dark table-sm">
    <tr>
        <td>&#8592;&#8593;&#8594;&#8595;</td>
        <td>Движение автомобиля соответственно нажатым кнопкам</td>
    </tr>
    <tr>
        <td>&lt;Пробел&gt; или &lt;Ctrl&gt;</td>
        <td>Выстрел</td>
    </tr>
</table>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-dark" data-difficulty="easy">Просто</button>
        <button type="button" class="btn btn-outline-dark active" data-difficulty="middle">Средненько</button>
        <button type="button" class="btn btn-outline-dark" data-difficulty="hard">Сложно</button>
        <button type="button" class="btn btn-outline-dark" data-difficulty="hardcore">Хардкор</button>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
        <button id="start-game" type="button" class="btn btn-outline-success">Начать игру</button>
    </div>
</div>